@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .butn_blue {
        @apply py-4 px-20 text-white bg-blue-600;
    }

    .custom-shape-divider-bottom-1715594030 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        z-index: 5;
    }
    
    .custom-shape-divider-bottom-1715594030 svg {
        position: relative;
        display: block;
        width: calc(123% + 1.3px);
        height: 167px;
        transform: rotateY(180deg);
        z-index: 5;

    }
    
    .custom-shape-divider-bottom-1715594030 .shape-fill {
        fill: #FFFFFF;
    }
    
    /** For mobile devices **/
    @media (max-width: 767px) {
        .custom-shape-divider-bottom-1715594030 svg {
            width: calc(139% + 1.3px);
            height: 136px;
        }
    }

    .slide-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-bottom: 100px;
        align-items: center;
        justify-content: center;
        height: auto; /* Adjust the height as needed */
       padding: 0 10px 100px 10px;
        background-color: #e7fcff;
         /* Optional padding */
        box-sizing: border-box;
        
      }


      
    .splide__pagination__page {
        width: 8px;
        height: 8px;
        margin: 0 10px;
        background: black;
        border-radius: 50%;
        cursor: pointer;
        transition: all 300ms ease;
      }
  
      .splide__pagination__page.is-active {
        background: #333;
        width: 50px;
        border-radius: 30px;
        transition: all 300ms ease;
        
      }

 
}